<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>KPI - 主页</title>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

    <link rel="shortcut icon" href="../favicon.ico">
    <link href="../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://mishengqiang.com/sweetalert/css/sweetalert.css">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class='nav-header'>
                    <div class='dropdown profile-element'><span><img alt='image' class='img-circle' src='../img/profile_small.jpg'/></span><a
                            data-toggle='dropdown' class='dropdown-toggle' href='#'><span class='clear'><span
                            class='block m-t-xs'><strong class='font-bold'>CUIT - KPI</strong></span><span
                            class='text-muted text-xs block'>超级管理员<b class='caret'></b></span></span></a>
                        <ul class='dropdown-menu animated fadeInRight m-t-xs'>
                            <li><a class='J_menuItem' href='../form_avatar.html'>修改头像</a></li>
                            <li><a class='J_menuItem' href='../profile.html'>个人资料</a></li>
                            <li><a class='J_menuItem' href='mailbox.html'>信箱</a></li>
                            <li class='divider'></li>
                            <li><a href='../login.html'>安全退出</a></li>
                        </ul>
                    </div>
                    <div class='logo-element'>KPI</div>
                </li>
                <li><a class='J_menuItem' href='profile.html'><i class='fa fa-user'></i> <span
                        class='nav-label'>个人中心</span></a></li>
                <li><a class='J_menuItem' href=' '><span class='nav-label'>个人中心</span></a></li>
                <li><a class='J_menuItem' href='null'><span class='nav-label'>教学绩效</span></a></li>
                <li><a class='J_menuItem' href='null'><span class='nav-label'>科研绩效</span></a></li>
                <li><a href='#'><span class='nav-label'>站内信</span><span class='fa arrow'></span></a>
                    <ul class='nav nav-second-level'>
                        <li><a class='J_menuItem' href='null'><span class='nav-label'>写信</span></a></li>
                        <li><a class='J_menuItem' href='null'><span class='nav-label'>收件箱</span></a></li>
                    </ul>
                </li>
                <li><a href='#'><span class='nav-label'>信息管理</span><span class='fa arrow'></span></a>
                    <ul class='nav nav-second-level'>
                        <li><a class='J_menuItem' href='null'><span class='nav-label'>用户管理</span></a></li>
                        <li><a href='#'><span class='nav-label'>绩效管理</span><span class='fa arrow'></span></a>
                            <ul class='nav nav-third-level'>
                                <li><a class='J_menuItem' href='null'><span class='nav-label'>类别管理</span></a></li>
                                <li><a class='J_menuItem' href='null'><span class='nav-label'>内容管理</span></a></li>
                                <li><a class='J_menuItem' href='null'><span class='nav-label'>审核管理</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class='J_menuItem' href='null'><span class='nav-label'>站内信管理</span></a></li>
                <li><a href='#'><span class='nav-label'>系统管理</span><span class='fa arrow'></span></a>
                    <ul class='nav nav-second-level'>
                        <li><a class='J_menuItem' href='null'><span class='nav-label'>版块管理</span></a></li>
                        <li><a class='J_menuItem' href='null'><span class='nav-label'>角色管理</span></a></li>
                        <li><a class='J_menuItem' href='null'><span class='nav-label'>权限管理</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 顶部导航 -->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                        class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <!-- 信箱通知模板 -->
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li class="m-t-xs">
                                <div class="dropdown-messages-box">
                                    <a href="../profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="../img/a7.jpg">
                                    </a>
                                    <div class="media-body">
                                        <small class="pull-right">46小时前</small>
                                        <strong>小四</strong> 这个在日本投降书上签字的军官，建国后一定是个不小的干部吧？
                                        <br>
                                        <small class="text-muted">3天前 2014.11.8</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="../profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="../img/a4.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">25小时前</small>
                                        <strong>国民岳父</strong> 如何看待“男子不满自己爱犬被称为狗，刺伤路人”？——这人比犬还凶
                                        <br>
                                        <small class="text-muted">昨天</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a class="J_menuItem" href="mailbox.html">
                                        <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- 消息通知模板 -->
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="mailbox.html">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                        <span class="pull-right text-muted small">4分钟前</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="../profile.html">
                                    <div>
                                        <i class="fa fa-qq fa-fw"></i> 3条新回复
                                        <span class="pull-right text-muted small">12分钟钱</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a class="J_menuItem" href="../notifications.html">
                                        <strong>查看所有 </strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="right-sidebar-toggle" aria-expanded="false">
                            <i class="fa fa-tasks"></i> 主题
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                </div>
            </nav>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="../login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="index_main"
                    frameborder="0"></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">&copy; 2017-2018 <a href="https://github.com/EasSong" target="_blank">EasSong's
                blog</a>
            </div>
        </div>
    </div>
    <!-- 主题设置 -->
    <div id="right-sidebar">
        <div class="sidebar-container">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="skin-setttings">
                        <div class="title">主题设置</div>
                        <div class="setings-item">
                            <span>收起左侧菜单</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox"
                                           id="collapsemenu">
                                    <label class="onoffswitch-label" for="collapsemenu">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>固定顶部</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox"
                                           id="fixednavbar">
                                    <label class="onoffswitch-label" for="fixednavbar">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>固定宽度</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox"
                                           id="boxedlayout">
                                    <label class="onoffswitch-label" for="boxedlayout">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="title">皮肤选择</div>
                        <div class="setings-item default-skin nb">
                                <span class="skin-name ">
                         <a href="#" class="s-skin-0">
                             默认皮肤
                         </a>
                    </span>
                        </div>
                        <div class="setings-item blue-skin nb">
                                <span class="skin-name ">
                        <a href="#" class="s-skin-1">蓝色主题</a>
                    </span>
                        </div>
                        <div class="setings-item yellow-skin nb">
                                <span class="skin-name ">
                        <a href="#" class="s-skin-3">
                            黄色/紫色主题
                        </a>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.min63b9.js?v=2.1.4"></script>
<script src="../js/bootstrap.min14ed.js?v=3.3.6"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../js/plugins/layer/layer.min.js"></script>
<script src="../js/hplus.min862f.js?v=4.1.0"></script>
<script type="text/javascript" src="../js/contabs.min.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>
<script src="http://mishengqiang.com/sweetalert/js/sweetalert-dev.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</body>
<script>
    var vm = new Vue({
        el: "#wrapper",
        data: {
            navList: [],
            powerNavLi: ""
        },
        methods: {
            checkLogin: function () {
                $.ajax({
                    type: "POST",
                    url: "/sys/user/checkLogin",
                    success: function (res) {
                        if (res.code === "0") {
                            vm.getPower(res.data.roleId);
                        } else if (res.code === "3") {
                            window.location.href = "/login";
                        }
                    }
                });
            },
            /**
             * 获取权限
             * @param roleId
             */
            getPower: function (roleId) {
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:9300/sys/np/power",
                    data: {
                        "roleId": roleId
                    },
                    success: function (res) {
                        if (res.code === "0") {
                            vm.navList = res.dataList;
                            vm.powerNavLi = "<li class='nav-header'>" +
                                "<div class='dropdown profile-element'>" +
                                "<span><img alt='image' class='img-circle' src='../img/profile_small.jpg'/></span>" +
                                "<a data-toggle='dropdown' class='dropdown-toggle' href='#'>" +
                                "<span class='clear'>" +
                                "<span class='block m-t-xs'><strong class='font-bold'>CUIT - KPI</strong></span>" +
                                "<span class='text-muted text-xs block'>超级管理员<b class='caret'></b></span>" +
                                "</span>" +
                                "</a>" +
                                "<ul class='dropdown-menu animated fadeInRight m-t-xs'>" +
                                "<li><a class='J_menuItem' href='../form_avatar.html'>修改头像</a>" +
                                "</li>" +
                                "<li><a class='J_menuItem' href='../profile.html'>个人资料</a>" +
                                "</li>" +
                                "<li><a class='J_menuItem' href='mailbox.html'>信箱</a>" +
                                "</li>" +
                                "<li class='divider'></li>" +
                                "<li><a href='../login.html'>安全退出</a>" +
                                "</li>" +
                                "</ul>" +
                                "</div>" +
                                "<div class='logo-element'>KPI" +
                                "</div>" +
                                "</li>" +
                                "<li>" +
                                "<a class='J_menuItem' href='profile.html'><i class='fa fa-user'></i> <span\n" +
                                "class='nav-label'>个人中心</span></a>" +
                                "</li>" + vm.createMenu(vm.navList, 0, 2);
                            console.log(vm.powerNavLi);
                        } else if (res.code === "1") {
                            swal("权限未分配", "请联系管理员\r\nQQ:1041746114", "error");
                        }
                    },
                    error: function (e) {
                        swal("系统错误", "", "error");
                    }
                });
            },
            createMenu: function (param, parent, count) {
                var tmp = "";
                for (var index = 0; index < param.length; index++) {
                    var nav = param[index];
                    // 顶级目录
                    if (nav.navParent == parent) {
                        if (nav.navType == true) {
                            tmp += "<li><a class='J_menuItem' href='" + nav.navUrl + "'>";
                            if (nav.navIco != null) {
                                tmp += "<i class='fa " + nav.navIco + "'></i>";
                            }
                            tmp += "<span class='nav-label'>" + nav.navName + "</span></a></li>";
                        } else {
                            tmp += "<li><a href='#'>";
                            if (nav.navIco != null) {
                                tmp += "<i class='fa " + nav.navIco + "'></i>";
                            }
                            tmp += "<span class='nav-label'>" + nav.navName+"</span>";
                            tmp += "<span class='fa arrow'></span>"
                            tmp += "</a>";
                            if (count === 2) {
                                tmp += "<ul class='nav nav-second-level'>";
                            } else if (count === 3) {
                                tmp += "<ul class='nav nav-third-level'>";
                            }
                            tmp += this.createMenu(param, nav.navId, count + 1);
                            tmp += "</ul></li>";
                        }
                    }
                }
                return tmp;
            }
        },
        created: function () {
            this.checkLogin();
        }
    });
</script>
</html>
