<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li class='nav-header'>
        <div class='dropdown profile-element'><span><img alt='image' class='img-circle' src='../img/profile_small.jpg'/></span><a
                data-toggle='dropdown' class='dropdown-toggle' href='#'><span class='clear'><span
                class='block m-t-xs'><strong class='font-bold'>CUIT - KPI</strong></span><span
                class='text-muted text-xs block'>超级管理员<b class='caret'></b></span></span></a>
            <ul class='dropdown-menu animated fadeInRight m-t-xs'>
                <li><a class='J_menuItem' href='../form_avatar.html'>修改头像</a></li>
                <li><a class='J_menuItem' href='../profile.html'>个人资料</a></li>
                <li><a class='J_menuItem' href='mailbox.html'>信箱</a></li>
                <li class='divider'></li>
                <li><a href='../login.html'>安全退出</a></li>
            </ul>
        </div>
        <div class='logo-element'>KPI</div>
    </li>
    <li><a class='J_menuItem' href='profile.html'><i class='fa fa-user'></i> <span
            class='nav-label'>个人中心</span></a></li>
    <li><a class='J_menuItem' href=' '><span class='nav-label'>个人中心</span></a></li>
    <li><a class='J_menuItem' href='null'><span class='nav-label'>教学绩效</span></a></li>
    <li><a class='J_menuItem' href='null'><span class='nav-label'>科研绩效</span></a></li>
    <li><a href='#' data-toggle='collapse' data-target='#983638140700381185' data-parent='#side-menu'><span
            class='nav-label'>站内信</span><span class='fa arrow'></span></a>
        <ul class='nav nav-second-level' id='983638140700381185' class='collapse'>
            <li><a class='J_menuItem' href='null'><span class='nav-label'>写信</span></a></li>
            <li><a class='J_menuItem' href='null'><span class='nav-label'>收件箱</span></a></li>
        </ul>
    </li>
    <li><a href='#' data-toggle='collapse' data-target='#983638670914932737' data-parent='#side-menu'><span
            class='nav-label'>信息管理</span><span class='fa arrow'></span></a>
        <ul class='nav nav-second-level' id='983638670914932737' class='collapse'>
            <li><a class='J_menuItem' href='null'><span class='nav-label'>用户管理</span></a></li>
            <li><a href='#' data-toggle='collapse' data-target='#983638999677063169' data-parent='#side-menu'><span
                    class='nav-label'>绩效管理</span><span class='fa arrow'></span></a>
                <ul class='nav nav-third-level' id='983638999677063169' class='collapse'>
                    <li><a class='J_menuItem' href='null'><span class='nav-label'>类别管理</span></a></li>
                    <li><a class='J_menuItem' href='null'><span class='nav-label'>内容管理</span></a></li>
                    <li><a class='J_menuItem' href='null'><span class='nav-label'>审核管理</span></a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a class='J_menuItem' href='null'><span class='nav-label'>站内信管理</span></a></li>
    <li><a href='#' data-toggle='collapse' data-target='#983639742047899649' data-parent='#side-menu'><span
            class='nav-label'>系统管理</span><span class='fa arrow'></span></a>
        <ul class='nav nav-second-level' id='983639742047899649' class='collapse'>
            <li><a class='J_menuItem' href='null'><span class='nav-label'>版块管理</span></a></li>
            <li><a class='J_menuItem' href='null'><span class='nav-label'>角色管理</span></a></li>
            <li><a class='J_menuItem' href='null'><span class='nav-label'>权限管理</span></a></li>
        </ul>
    </li>
</ul>
</body>
</html>