<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>KPI - 收件箱</title>
    <link href="../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://mishengqiang.com/sweetalert/css/sweetalert.css">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content" id="app">
    <div class="row animated fadeInRight">
        <div class="col-sm-12 animated fadeInRight">
            <div class="mail-box-header">
                <form method="get" action="http://www.zi-han.net/theme/hplus/index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="搜索邮件标题，正文等">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                搜索
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    收件箱 (16)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i>
                        </button>

                    </div>
                    <button class="btn btn-white btn-sm" title="刷新邮件列表"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                    <button class="btn btn-white btn-sm" title="标为已读"><i
                            class="fa fa-eye"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" title="删除邮件"><i
                            class="fa fa-trash-o"></i>
                    </button>

                </div>
            </div>
            <div class="mail-box">
                <table class="table table-hover table-mail">
                    <tbody>
                    <tr v-if="mrPage.records.length < 1" class="unread">
                        <td colspan="5" class="text-center">
                            收件箱为空~
                        </td>
                    </tr>
                    <tr v-for="mr in mrPage.records" :class="mr.mrStatus==1?'unread':'read'"
                        @click="mark(mr.mrId, mr.mrStatus)" style="cursor: pointer">
                        <td class="check-mail" width="5%">
                            <input type="checkbox" class="i-checks">
                        </td>
                        <td class="mail-ontact" width="25%">
                            <a href="#">{{mr.mail.userName}}</a>
                            <span v-if="mr.mrStatus == 1" class="label label-warning pull-right">未读邮件</span>
                        </td>
                        <td class="mail-subject" width="55%">
                            <a href="#">{{mr.mail.mailTitle}}</a>
                        </td>
                        <td class="" width="5"><i class="fa fa-paperclip"></i>
                        </td>
                        <td class="text-right mail-date" width="10%">{{mr.mrDate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.min63b9.js?v=2.1.4"></script>
<script src="../js/bootstrap.min14ed.js?v=3.3.6"></script>
<script src="../js/content.mine209.js?v=1.0.0"></script>
<script src="../js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script src="http://mishengqiang.com/sweetalert/js/sweetalert-dev.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    function initChck() {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    }
    var vm = new Vue({
        el: "#app",
        data: {
            mrPage: [],
            mrIdList: [],
            mrParam: {
                "mrId": "",
                "mailId": "",
                "mail": {
                    "mailId": "",
                    "userId": "",
                    "userName": "",
                    "mailTitle": "",
                    "mailContent": ""
                },
                "userId": "",
                "userName": "",
                "mrStatus": "",
                "mrDate": ""
            },
            mailParam: {
                "mailId": "",
                "userId": "",
                "userName": "",
                "mailTitle": "",
                "mailContent": "",
                "mailDate": "",
                "mailStatus": "",
                "pageSize": 10,
                "currentPage": 1
            }
        },
        methods: {
            page: function (param) {
                $.ajax({
                    type: "POST",
                    url: "/mr/page",
                    data: param,
                    success: function (res) {
                        if (res.code === "0") {
                            vm.mrPage = res.pageData;
                            setTimeout(initChck, 1);
                        }
                    },
                    error: function (e) {
                        swal("系统错误", "", "error");
                    }
                })
            },
            mark: function(mrId, status) {
                if (status != 1) {
                    location.href = "mail_detail.html?mrId="+mrId;
                    return;
                }
                $.ajax({
                   type: "POST",
                   url: "/mr/mark",
                   data: {
                       "mrId": mrId
                   },
                   success: function (res) {
                       if (res.code != "0") {
                           swal("读取失败", res.msg, "error");
                       } else if (res.code === "0") {
                           location.href = "mail_detail.html?mrId="+mrId;
                       }
                   }
                });
            },
            bathMark: function () {
                this.getChecked();
                $.ajax({
                   type: "POST",
                   url: "/mr/mark/batch",
                   data: this.mrIdList,
                   success: function (res) {
                       if (res.code === "0") {
                           vm.page(vm.mailParam);
                       }
                   }
                });
            },
            getChecked: function () {

            }
        },
        created: function () {
            this.mailParam.userId = $.cookie('user_id');
            this.page(this.mailParam);
        }
    });
</script>
</body>
</html>
