<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>KPI - 查看邮件</title>
    <link rel="shortcut icon" href="../favicon.ico"> <link href="../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://mishengqiang.com/sweetalert/css/sweetalert.css">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content" id="app">
        <div class="row animated fadeInRight">
            <div class="col-sm-12 animated fadeInRight">
                <div class="mail-box-header">
                    <div class="pull-right tooltip-demo">
                        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="返回"><i class="fa fa-reply"></i> 返回</a>
                        <a href="#delete" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="删除邮件"><i class="fa fa-trash-o"></i> 删除</a>
                    </div>
                    <h2>
                    查看邮件
                </h2>
                    <div class="mail-tools tooltip-demo m-t-md">


                        <h3>
                        <span class="font-noraml">主题： </span>{{mrParam.mail.mailTitle}}
                    </h3>
                        <h5>
                        <span class="pull-right font-noraml">{{mrParam.mrDate}}</span>
                        <span class="font-noraml">发件人： </span>{{mrParam.mail.userName}}
                    </h5>
                    </div>
                </div>
                <div class="mail-box">


                    <div class="mail-body" v-html="mrParam.mail.mailContent">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min63b9.js?v=2.1.4"></script>
    <script src="../js/bootstrap.min14ed.js?v=3.3.6"></script>
    <script src="http://mishengqiang.com/sweetalert/js/sweetalert-dev.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        function getParam(href, key) {
            var params = href.split("?")[1].split("&");
            for (var index = 0; index < params.length; index++) {
                var paramKey = params[index].split("=")[0];
                var paramValue = params[index].split("=")[1];
                if (paramKey == key) {
                    return paramValue;
                }
            }
            return null;
        }
        var vm = new Vue({
            el: "#app",
            data: {
                mrParam: {
                    "mrId": "",
                    "mailId": "",
                    "mail": {
                        "mailId": "",
                        "userId": "",
                        "userName": "",
                        "mailTitle": "",
                        "mailContent": ""
                    },
                    "userId": "",
                    "userName": "",
                    "mrStatus": "",
                    "mrDate": ""
                }
            },
            methods: {
                readMail: function () {
                    var mrId = getParam(location.href, "mrId");
                    $.ajax({
                        type: "POST",
                        url: "/mr/read/mail",
                        data: {
                            "mrId":mrId
                        },
                        success: function (res) {
                            if (res.code === "0") {
                                vm.mrParam = res.data;
                            }
                        },
                        error: function (e) {
                            swal("系统错误", "", "error");
                        }
                    });
                }
            },
            created: function () {
                this.readMail();
            }
        });
    </script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/mail_detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Mar 2016 12:29:15 GMT -->
</html>
