<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.songmj.kpi.mapper.NavMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.songmj.kpi.entity.Nav">
        <id column="navId" property="navId"/>
        <result column="navName" property="navName"/>
        <result column="navUrl" property="navUrl"/>
        <result column="navType" property="navType"/>
        <result column="navIco" property="navIco"/>
        <result column="navParent" property="navParent"/>
        <result column="navStatus" property="navStatus"/>
        <result column="navTips" property="navTips"/>
        <result column="parentName" property="parentName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.nav_id AS navId,
        a.nav_name AS navName,
        a.nav_url AS navUrl,
        a.nav_type AS navType,
        a.nav_ico AS navIco,
        a.nav_parent AS navParent,
        a.nav_status AS navStatus,
        a.nav_tips AS navTips,
        b.nav_name AS parentName
    </sql>
</mapper>
