<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.songmj.kpi.mapper.NavPowerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.songmj.kpi.entity.NavPower">
        <id column="npId" property="npId"/>
        <result column="roleId" property="roleId"/>
        <result column="navId" property="navId"/>
        <result column="roleName" property="roleName"/>
        <result column="navName" property="navName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        np.np_id AS npId, np.role_id AS roleId, np.nav_id AS navId, n.nav_name AS navName, r.role_name AS roleName
    </sql>

    <select id="selectJoinPage" parameterType="cn.songmj.kpi.entity.NavPower"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from nav_power np
        LEFT JOIN nav n ON np.nav_id=n.nav_id
        LEFT JOIN role r ON np.role_id=r.role_id
        <if test="roleId != null and roleId != 0">
            WHERE np.role_id = #{roleId}
        </if>
    </select>
</mapper>
