<!DOCTYPE html>
<html>
<head>
    <title>Order-Manager</title>
    <link href="../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://mishengqiang.com/sweetalert/css/sweetalert.css">

</head>
<body class="gray-bg">
<div class="ibox float-e-margins animated fadeInRight" id="app">
    <div class="ibox-title">
        <h5>教学绩效申请</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-2 m-l-sm pull-left">
                <!--<select class="form-control input-sm" style="font-size: 13px">-->
                    <!--<option value="0">&#45;&#45;选择年度&#45;&#45;</option>-->
                    <!--<option value="1">2013-2014年度</option>-->
                    <!--<option value="2">2014-2015年度</option>-->
                    <!--<option value="3">2015-2016年度</option>-->
                    <!--<option value="4">2016-2017年度</option>-->
                <!--</select>-->
            </div>
            <div class="col-sm-3 pull-right">
                <!--<div class="input-group">-->
                    <!--<input type="text" placeholder="请输入KPI关键字" class="input-sm form-control">-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-sm btn-primary" @click="search()"> 搜索</button>-->
                    <!--</span>-->
                <!--</div>-->
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="display: none">编号</th>
                    <th width="30%">年度</th>
                    <th width="50%">名称</th>
                    <th width="10%">状态</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="kuPage.records.length < 1">
                    <td colspan="4" class="text-center">没有此类数据~</td>
                </tr>
                <tr v-for="ku in kuPage.records">
                    <td>{{ku.kf.kfBeginDate}}-{{ku.kf.kfEndDate}}年度</td>
                    <td>{{ku.kf.kfName}}</td>
                    <td>
                        <span class="label label-primary" v-if="ku.kuStatus == 1">进行中</span>
                        <span class="label label-success" v-if="ku.kuStatus == 2">已完成</span>
                        <span class="label label-default" v-if="ku.kuStatus == 3">已过期</span>
                    </td>
                    <td>
                        <a :href="'kpi_apply_list.html?type=research&userId='+ku.userId+'&kuId='+ku.kuId+'&title='+ku.kf.kfBeginDate+'-'+ku.kf.kfEndDate+'年度'+ku.kf.kfName" class="btn btn-info btn-xs">
                            <i class="fa fa-file-text">查看</i>
                        </a>
                        <a v-if="ku.kuStatus != 3" :href="'kpi_list.html?type=research&userId='+ku.userId+'&kuId='+ku.kuId+'&title='+ku.kf.kfBeginDate+'-'+ku.kf.kfEndDate+'年度'+ku.kf.kfName" class="btn btn-info btn-xs">
                            <i class="fa fa-edit">申请</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row" style="height: 50px">
            <div class="col-sm-6">
                <div class="dataTables_info" style="margin-top: 10px">
                    显示 {{pageInfo.dataBegin}} 到 {{pageInfo.dataEnd}} 项，共 {{pageInfo.total}} 项
                </div>
            </div>
            <div class="col-sm-6">
                <div class="btn-group" style="float: right">
                    <button type="button" class="btn btn-sm btn-white" @click="pageClick(kuPage.current-1)">上一页
                    </button>
                    <button type="button" class="btn btn-sm btn-white" @click="pageClick(kuPage.current+1)">下一页
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.min63b9.js?v=2.1.4"></script>
<script src="../js/bootstrap.min14ed.js?v=3.3.6"></script>
<script src="../js/plugins/iCheck/icheck.min.js"></script>
<script src="../js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="http://mishengqiang.com/sweetalert/js/sweetalert-dev.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script>
    var vm;
    vm = new Vue({
        "el": "#app",
        "data": {
            searchField: "",
            kuParam: {
                "kuId": "",
                "userId": "",
                "kfId": "",
                "kuStatus": "",
                "kuFinishDate": "",
                "pageSize": 10,
                "currentPage": 1
            },
            kuPage: [],
            pageInfo: {
                dataBegin: 1,
                dataEnd: 10,
                total: 10,
                pages: 1
            }
        },
        methods: {
            search: function () {

            },
            page: function (param) {
                param.userId = $.cookie('user_id');
                $.ajax({
                    type: 'POST',
                    url: '/sys/ku/page',
                    data: param,
                    success: function (res) {
                        if (res.code === '0') {
                            vm.kuPage = res.pageData;
                            vm.computePage();
                        }
                    },
                    error: function (e) {
                        swal("请求异常", "You clicked the button!", "warning")
                    }
                });
            },
            computePage: function () {
                var size = this.kuPage.size;
                var current = this.kuPage.current;
                var total = this.kuPage.total;
                var pages = this.kuPage.pages;
                this.pageInfo.dataBegin = (current - 1) * size + 1;
                this.pageInfo.dataEnd = (current - 1) * size + this.kuPage.records.length;
                this.pageInfo.total = total;
                this.pageInfo.peges = pages;
            },
            pageClick: function (current) {
                if (current < 1 || current > this.kuPage.pages) {
                    return;
                }
                this.kuParam.currentPage = current;
                this.page(this.kuParam);
            },
            initParam: function () {
                this.kuParam.kuId = "";
                this.kuParam.userId = "";
                this.kuParam.kfId = "";
                this.kuParam.kuStatus = "";
                this.kuParam.kuFinishDate = "";
            },
            initPage: function () {
                this.kuParam.pageSize = 10;
                this.kuParam.currentPage = 1;
            }
        },
        created: function () {
            this.page(this.kuParam);
        }
    });
</script>
</body>
</html>