<!DOCTYPE html>
<html>
<head>
    <title>Order-Manager</title>
    <link href="../../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://mishengqiang.com/sweetalert/css/sweetalert.css">

</head>
<body class="gray-bg">
<section id="app">
    <div class="ibox float-e-margins animated fadeInRight">
        <div class="ibox-title">
            <h5>KPI-内容管理</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3 m-l-sm">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" @click="modal()"><i class="fa fa-plus"></i>
                            新增
                        </button>
                    </div>
                </div>
                <div class="col-sm-3" style="float: right">
                    <div class="input-group">
                        <input type="text" placeholder="请输入用户名或登录名" class="input-sm form-control" v-model="searchField">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" @click="search()"> 搜索</button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="8%" style="display: none">编号</th>
                        <th width="20%">KPI名</th>
                        <th width="16%">类别</th>
                        <th width="12%">标准</th>
                        <th width="36%">描述</th>
                        <th width="16%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="kcPage.records.length < 1">
                        <td colspan="5" class="text-center">没有此类数据~</td>
                    </tr>
                    <tr v-for="kc in kcPage.records" :key="kc.kcId">
                        <td>{{kc.kcName}}</td>
                        <td>{{kc.kpName}}</td>
                        <td>{{kc.kcStandard}}</td>
                        <td>{{kc.kcDescription}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-xs" @click="edit(kc)">
                                <i class="fa fa-edit">编辑</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" @click="remove(kc)">
                                <i class="fa fa-trash">删除</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="height: 50px">
                <div class="col-sm-6">
                    <div class="dataTables_info" style="margin-top: 10px">
                        显示 {{pageInfo.dataBegin}} 到 {{pageInfo.dataEnd}} 项，共 {{pageInfo.total}} 项
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group" style="float: right">
                        <button type="button" class="btn btn-sm btn-white" @click="pageClick(kcPage.current-1)">上一页
                        </button>
                        <button type="button" class="btn btn-sm btn-white" @click="pageClick(kcPage.current+1)">下一页
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="kcModal">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalTitle">KPI添加</h4>
                </div>
                <div class="modal-body">
                    <table style="font-size: 14px; width: 100%" border="0">
                        <tr>
                            <td align="right" height="40px"> 编号:</td>
                            <td><input type="text" disabled class="form-control m-l-md" style="width: 420px"
                                       v-model="modalKc.kcId"/>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 名称:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalKc.kcName"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 观测点:</td>
                            <td>
                                <select class="form-control m-l-md" style="width: 420px" v-model="modalKc.kpId">
                                    <option v-for="kp in kpList" :value="kp.kpId">{{kp.kpName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 标准:</td>
                            <td>
                                <input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalKc.kcStandard"/>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 描述:</td>
                            <td>
                                    <textarea class="form-control m-l-md" style="width: 420px" cols="30" rows="3"
                                              v-model="modalKc.kcDescription"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../../js/jquery.min63b9.js?v=2.1.4"></script>
<script src="../../js/bootstrap.min14ed.js?v=3.3.6"></script>
<script src="../../js/plugins/iCheck/icheck.min.js"></script>
<script src="../../js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="http://mishengqiang.com/sweetalert/js/sweetalert-dev.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var vm;
    vm = new Vue({
        el: "#app",
        data: {
            kcPage: [],
            kpList: [],
            kcParam: {
                "kcId": "",
                "kcName": "",
                "kcDescription": "",
                "kcStandard": "",
                "kpId": "",
                "kpName": "",
                "kpType": 0,
                "pageSize": 10,
                "currentPage": 1
            },
            modalKc: {
                "kcId": "",
                "kcName": "",
                "kcDescription": "",
                "kcStandard": "",
                "kpId": "",
                "kpName": ""
            },
            searchField: "",
            pageInfo: {
                dataBegin: 1,
                dataEnd: 10,
                total: 10,
                pages: 1
            }
        },
        methods: {
            modal: function () {
                this.initModal();
                this.modalKc.kcId = "自动生成";
                $('#kcModal').modal('show');
            },
            search: function () {
                this.kcParam.kcName = this.searchField;
                this.kcParam.kcDescription = this.searchField;
                this.kcParam.kcStandard = this.searchField;
                this.page(this.kcParam);
            },
            page: function (param) {
                $.ajax({
                    type: 'POST',
                    url: '/sys/kc/page',
                    data: param,
                    success: function (res) {
                        if (res.code === '0') {
                            vm.kcPage = res.pageData;
                            vm.computePage();
                        }
                    },
                    error: function (e) {
                        swal("请求异常", "You clicked the button!", "warning")
                    }
                });
            },
            listKp: function () {
                $.ajax({
                    type: 'POST',
                    url: '/sys/kp/list',
                    data: {
                        "kpId": "",
                        "kpName": "",
                        "kpDescription": "",
                        "kpType": ""
                    },
                    success: function (res) {
                        if (res.code === '0') {
                            vm.kpList = res.dataList;
                        }
                    },
                    error: function (e) {
                        swal("请求异常", "You clicked the button!", "warning")
                    }
                });
            },
            edit: function (kc) {
                this.modalKc = kc;
                $('#kcModal').modal('show');
            },
            remove: function (kc) {
                swal({
                    title: "你确定？",
                    text: "您将无法恢复数据！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是的，删除！",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: 'POST',
                        url: '/sys/kc/delete',
                        data: {
                            "kcId": kc.kcId
                        },
                        success: function (res) {
                            if (res.code === "0") {
                                swal("删除成功", "", "success");
                                vm.initParam();
                                vm.page(vm.kcParam);
                            }
                        },
                        error: function (e) {
                            swal("系统错误", e, "error");
                        }
                    });
                })
            },
            save: function () {
                if (this.modalKc.kcId === "自动生成") {
                    this.modalKc.kcId = -1;
                }
                $.ajax({
                    type: 'POST',
                    url: '/sys/kc/save',
                    data: this.modalKc,
                    success: function (res) {
                        if (res.code === "0") {
                            swal("保存成功", res.msg, "success");
                            $('#kcModal').modal('hide');
                            //刷新页面
                            vm.initParam();
                            vm.page(vm.kcParam);
                        }
                    },
                    error: function () {
                        swal("系统错误", "", "error");
                    }
                });
            },
            computePage: function () {
                var size = this.kcPage.size;
                var current = this.kcPage.current;
                var total = this.kcPage.total;
                var pages = this.kcPage.pages;
                this.pageInfo.dataBegin = (current - 1) * size + 1;
                this.pageInfo.dataEnd = (current - 1) * size + this.kcPage.records.length;
                this.pageInfo.total = total;
                this.pageInfo.peges = pages;
            },
            pageClick: function (current) {
                if (current < 1 || current > this.kcPage.pages) {
                    return;
                }
                this.kcParam.currentPage = current;
                this.page(this.kcParam);
            },
            initParam: function () {
                this.kcParam.kcId = "";
                this.kcParam.kcName = "";
                this.kcParam.kcDescription = "";
                this.kcParam.kcStandard = "";
                this.kcParam.kpId = "";
            },
            initModal: function () {
                this.modalKc.kcId = "";
                this.modalKc.kcName = "";
                this.modalKc.kcDescription = "";
                this.modalKc.kcStandard = "";
                this.modalKc.kpId = "";
            },
            initPage: function () {
                this.kcParam.pageSize = 10;
                this.kcParam.currentPage = 1;
            }
        },
        created: function () {
            this.page(this.kcParam);
            this.listKp();
        }
    });
</script>
</body>
</html>