<!DOCTYPE html>
<html>
<head>
    <title>Order-Manager</title>
    <link href="../../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://mishengqiang.com/sweetalert/css/sweetalert.css">

</head>
<body class="gray-bg">
<section id="app">
    <div class="ibox float-e-margins animated fadeInRight">
        <div class="ibox-title">
            <h5>KPI-表单管理</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3 m-l-sm">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" @click="modal()"><i class="fa fa-plus"></i>
                            新增
                        </button>
                    </div>
                </div>
                <div class="col-sm-3" style="float: right">
                    <div class="input-group">
                        <input type="text" placeholder="请输入用户名或登录名" class="input-sm form-control" v-model="searchField">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" @click="search()"> 搜索</button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="8%" style="display: none">编号</th>
                        <th width="40%">表单名称</th>
                        <th width="20%">开始时间</th>
                        <th width="20%">结束时间</th>
                        <th width="16%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="kfPage.records.length < 1">
                        <td colspan="5" class="text-center">没有此类数据~</td>
                    </tr>
                    <tr v-for="kf in kfPage.records" :key="kf.kfId">
                        <td>{{kf.kfName}}</td>
                        <td>{{kf.kfBeginDate}}</td>
                        <td>{{kf.kfEndDate}}</td>
                        <td>
                            <button type="button" class="btn btn-info btn-xs" @click="getUids(kf)">
                                <i class="fa fa-send">分发</i>
                            </button>
                            <button type="button" class="btn btn-info btn-xs" @click="edit(kf)">
                                <i class="fa fa-edit">编辑</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" @click="remove(kf)">
                                <i class="fa fa-trash">删除</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="height: 50px">
                <div class="col-sm-6">
                    <div class="dataTables_info" style="margin-top: 10px">
                        显示 {{pageInfo.dataBegin}} 到 {{pageInfo.dataEnd}} 项，共 {{pageInfo.total}} 项
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group" style="float: right">
                        <button type="button" class="btn btn-sm btn-white" @click="pageClick(kfPage.current-1)">上一页
                        </button>
                        <button type="button" class="btn btn-sm btn-white" @click="pageClick(kfPage.current+1)">下一页
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="kfModal">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalTitle">KPI添加</h4>
                </div>
                <div class="modal-body">
                    <table style="font-size: 14px; width: 100%" border="0">
                        <tr style="display: none;">
                            <td align="right" height="40px"> 编号:</td>
                            <td><input type="text" disabled class="form-control m-l-md" style="width: 420px"
                                       v-model="modalKf.kfId"/>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 表单名称:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalKf.kfName"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 开始时间:</td>
                            <td>
                                <input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalKf.kfBeginDate"/>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 结束时间:</td>
                            <td>
                                <input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalKf.kfEndDate"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../../js/jquery.min63b9.js?v=2.1.4"></script>
<script src="../../js/bootstrap.min14ed.js?v=3.3.6"></script>
<script src="../../js/plugins/iCheck/icheck.min.js"></script>
<script src="../../js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="../../myjs/RegexUtils.js"></script>
<script src="http://mishengqiang.com/sweetalert/js/sweetalert-dev.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var vm;
    vm = new Vue({
        el: "#app",
        data: {
            kfPage: [],
            kfParam: {
                "kfId": "",
                "kfName": "",
                "kfBeginDate": "",
                "kfEndDate": "",
                "pageSize": 10,
                "currentPage": 1
            },
            modalKf: {
                "kfId": "",
                "kfName": "",
                "kfBeginDate": "",
                "kfEndDate": ""
            },
            searchField: "",
            pageInfo: {
                dataBegin: 1,
                dataEnd: 10,
                total: 10,
                pages: 1
            }
        },
        methods: {
            modal: function () {
                this.initModal();
                this.modalKf.kfId = "自动生成";
                $('#kfModal').modal('show');
            },
            search: function () {
                this.kfParam.kfName = this.searchField;
                this.page(this.kfParam);
            },
            page: function (param) {
                $.ajax({
                    type: 'POST',
                    url: '/sys/kf/page',
                    data: param,
                    success: function (res) {
                        if (res.code === '0') {
                            vm.kfPage = res.pageData;
                            vm.computePage();
                        }
                    },
                    error: function (e) {
                        swal("请求异常", "You clicked the button!", "warning")
                    }
                });
            },
            getUids: function(kf) {
                // 初始化参数
                // 以备后续开发定向分发
                var param = {
                    "userId": "",
                    "userName": "",
                    "userNumber": "",
                    "userPassword": "",
                    "userSex": "",
                    "userAge": "",
                    "userBirthday": "",
                    "userIntroduce": "",
                    "userImg": "",
                    "userCollege": "",
                    "userRO": "",
                    "userProTitle": "",
                    "roleId": "",
                    "kbrId": ""
                };
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:9301/sys/user/uid/list",
                    param: param,
                    success: function (res) {
                        if (res.code === "0") {
                            vm.send(kf,res.dataList);
                        }
                    }
                });
            },
            send: function (kf,uids) {
                alert(JSON.stringify(uids));
                swal({
                    title: "你确定？",
                    text: "您将把<"+kf.kfName+">表单分发给所有用户！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是的",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: 'POST',
                        url: '/sys/ku/send',
                        data: {
                            "kfId": kf.kfId,
                            "uids": uids
                        },
                        success: function (res) {
                            if (res.code === "0") {
                                swal("分发成功表单", "", "success");
                            }
                        },
                        error: function (e) {
                            swal("系统错误", e, "error");
                        }
                    });
                })
            },
            edit: function (kf) {
                this.modalKf = kf;
                $('#kfModal').modal('show');
            },
            remove: function (kf) {
                swal({
                    title: "你确定？",
                    text: "您将无法恢复数据！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是的，删除！",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: 'POST',
                        url: '/sys/kf/delete',
                        data: {
                            "kfId": kf.kfId
                        },
                        success: function (res) {
                            if (res.code === "0") {
                                swal("删除成功", "", "success");
                                vm.initParam();
                                vm.page(vm.kfParam);
                            }
                        },
                        error: function (e) {
                            swal("系统错误", e, "error");
                        }
                    });
                })
            },
            save: function () {
                if (!checkDate("yyyy-MM-dd", this.modalKf.kfBeginDate)
                    || !checkDate("yyyy-MM-dd", this.modalKf.kfEndDate)) {
                    swal("格式错误", "请输入合法的日期", "error");
                    return;
                }
                if (this.modalKf.kfId === "自动生成") {
                    this.modalKf.kfId = -1;
                }
                $.ajax({
                    type: 'POST',
                    url: '/sys/kf/save',
                    data: this.modalKf,
                    success: function (res) {
                        if (res.code === "0") {
                            swal("保存成功", res.msg, "success");
                            $('#kfModal').modal('hide');
                            //刷新页面
                            vm.initParam();
                            vm.page(vm.kfParam);
                        }
                    },
                    error: function () {
                        swal("系统错误", "", "error");
                    }
                });
            },
            computePage: function () {
                var size = this.kfPage.size;
                var current = this.kfPage.current;
                var total = this.kfPage.total;
                var pages = this.kfPage.pages;
                this.pageInfo.dataBegin = (current - 1) * size + 1;
                this.pageInfo.dataEnd = (current - 1) * size + this.kfPage.records.length;
                this.pageInfo.total = total;
                this.pageInfo.peges = pages;
            },
            pageClick: function (current) {
                if (current < 1 || current > this.kfPage.pages) {
                    return;
                }
                this.kfParam.currentPage = current;
                this.page(this.kfParam);
            },
            initParam: function () {
                this.kfParam.kfId = "";
                this.kfParam.kfName = "";
                this.kfParam.kfBeginDate = "";
                this.kfParam.kfEndDate = "";
            },
            initModal: function () {
                this.modalKf = {
                    "kfId": "",
                    "kfName": "",
                    "kfBeginDate": "",
                    "kfEndDate": ""
                };
            },
            initPage: function () {
                this.kfParam.pageSize = 10;
                this.kfParam.currentPage = 1;
            }
        },
        created: function () {
            this.page(this.kfParam);
        }
    });
</script>
</body>
</html>