<!DOCTYPE html>
<html>
<head>
    <title>Order-Manager</title>
    <link href="../../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../../css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://mishengqiang.com/sweetalert/css/sweetalert.css">

</head>
<body class="gray-bg">
<section id="app">
    <div class="ibox float-e-margins animated fadeInRight">
        <div class="ibox-title">
            <h5>用户管理</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3 m-l-sm">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" @click="modal()"><i class="fa fa-plus"></i>
                            新增
                        </button>
                    </div>
                </div>
                <div class="col-sm-3" style="float: right">
                    <div class="input-group">
                        <input type="text" placeholder="请输入用户名或登录名" class="input-sm form-control" v-model="searchField">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" @click="search()"> 搜索</button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="display: none">编号</th>
                        <th width="12%">用户名</th>
                        <th width="12%">登录名</th>
                        <th width="12%">学院</th>
                        <th width="20%">研究方向</th>
                        <th width="12%">职称</th>
                        <th width="10%">角色</th>
                        <th width="12%">岗位等级</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="userPage.records.length < 1">
                        <td colspan="8" class="text-center">暂时没有数据~</td>
                    </tr>
                    <tr v-for="user in userPage.records" :key="user.userId">
                        <td>{{user.userName}}</td>
                        <td>{{user.userNumber}}</td>
                        <td>{{user.userCollege}}</td>
                        <td>{{user.userRO}}</td>
                        <td>{{user.userProTitle}}</td>
                        <td>
                            <span v-for="role in roleList">
                                <span v-if="role.roleId == user.roleId">{{role.roleName}}</span>
                            </span>
                        </td>
                        <td>
                            <span v-for="kbr in kbrList">
                                <span v-if="kbr.kbrId == user.kbrId">{{kbr.kbrType}},{{kbr.kbrLevel}}级</span>
                            </span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-xs" @click="edit(user)">
                                <i class="fa fa-edit">编辑</i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" @click="remove(user)">
                                <i class="fa fa-trash">删除</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="userModal">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalTitle">用户添加</h4>
                </div>
                <div class="modal-body">
                    <table style="font-size: 14px; width: 100%" border="0">
                        <tr>
                            <td align="right" height="40px"> 编号:</td>
                            <td><input type="text" disabled class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userId"/>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 用户名:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userName"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 登录名:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userNumber"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 角色:</td>
                            <td>
                                <select class="form-control m-l-md" style="width: 420px" v-model="modalUser.roleId">
                                    <option :value="role.roleId" v-for="role in roleList">{{role.roleName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 性别:</td>
                            <td>
                                <select class="form-control m-l-md" style="width: 420px" v-model="modalUser.userSex">
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 年龄:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userAge"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 出生日期:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userBirthday"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 学院:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userCollege"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 研究方向:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userRO"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 职称:</td>
                            <td><input type="text" class="form-control m-l-md" style="width: 420px"
                                       v-model="modalUser.userProTitle"/></td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 岗位等级:</td>
                            <td>
                                <select class="form-control m-l-md" style="width: 420px" v-model="modalUser.kbrId">
                                    <option :value="kbr.kbrId" v-for="kbr in kbrList">{{kbr.kbrType}},{{kbr.kbrLevel}}级</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" height="40px"> 介绍:</td>
                            <td>
                                <textarea class="form-control m-l-md" style="width: 420px" cols="30" rows="3"
                                          v-model="modalUser.userIntroduce"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="../../js/jquery.min63b9.js?v=2.1.4"></script>
<script src="../../js/bootstrap.min14ed.js?v=3.3.6"></script>
<script src="../../js/plugins/iCheck/icheck.min.js"></script>
<script src="../../js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="http://mishengqiang.com/sweetalert/js/sweetalert-dev.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var vm;
    vm = new Vue({
        el: "#app",
        data: {
            userPage: [],
            roleList: [],
            kbrList: [],
            modalUser: {
                "userId": "",
                "userName": "",
                "userNumber": "",
                "userPassword": "",
                "userSex": "",
                "userAge": "",
                "userBirthday": "",
                "userIntroduce": "",
                "userImg": "",
                "userCollege": "",
                "userRO": "",
                "userProTitle": "",
                "roleId": "",
                "kbrId": ""
            },
            userParam: {
                "userId": "",
                "userName": "",
                "userNumber": "",
                "userPassword": "",
                "userSex": "",
                "userAge": "",
                "userBirthday": "",
                "userIntroduce": "",
                "userImg": "",
                "userCollege": "",
                "userRO": "",
                "userProTitle": "",
                "roleId": "",
                "kbrId": "",
                "pageSize": 10,
                "currentPage": 1
            },
            searchField: ""
        },
        methods: {
            modal: function () {
                this.initModal();
                this.modalUser.userId = '自动生成';
                $('#userModal').modal('show');
            },
            search: function () {
                this.userParam.userName = this.searchField;
                this.userParam.userIntroduce = this.searchField;
                this.userParam.userRO = this.searchField;
                this.page(this.userParam);
            },
            page: function (param) {
                $.ajax({
                    type: 'POST',
                    url: '/sys/user/page',
                    data: param,
                    success: function (res) {
                        if (res.code === '0') {
                            vm.userPage = res.pageData;
                        }
                    },
                    error: function (e) {
                        swal("系统错误", "请重试", "error");
                    }
                });
            },
            listRole: function () {
                $.ajax({
                    type: 'POST',
                    url: 'http://127.0.0.1:9300/sys/role/list',
                    data: {
                        "roleId": "",
                        "roleName": "",
                        "roleDescription": ""
                    },
                    success: function (res) {
                        if (res.code === '0') {
                            vm.roleList = res.dataList;
                        }
                    },
                    error: function (e) {
                        swal("请求异常", "请重试", "error")
                    }
                });
            },
            listKBR: function () {
                $.ajax({
                    type: "POST",
                    url: "/sys/kbr/list",
                    success: function (res) {
                        if (res.code === "0") {
                            vm.kbrList = res.dataList;
                        }
                    },
                    error: function (e) {
                        swal("系统错误", e.msg, "error");
                    }
                });
            },
            edit: function (user) {
                this.modalUser = user;
                $('#userModal').modal('show');
            },
            remove: function (user) {
                swal({
                    title: "你确定？",
                    text: "您将无法恢复数据！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是的，删除！",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: 'POST',
                        url: '/sys/user/delete',
                        data: {
                            userId: user.userId
                        },
                        success: function (res) {
                            if (res.code === "0") {
                                swal("删除成功", "", "success");
                                vm.initParam();
                                vm.page(vm.userParam);
                            }
                        },
                        error: function (e) {
                            swal("系统错误", e, "error");
                        }
                    });
                })
            },
            save: function () {
                if (this.modalUser.userId === "自动生成") {
                    this.modalUser.userId = -1;
                }
                $.ajax({
                    type: 'POST',
                    url: '/sys/user/save',
                    data: this.modalUser,
                    success: function (res) {
                        if (res.code === "0") {
                            swal("保存成功", res.msg, "success");
                            $('#userModal').modal('hide');
                            //刷新页面
                            vm.initParam();
                            vm.page(vm.userParam);
                        } else if (res.code === "1") {
                            swal(res.msg, "请重新输入", "warning");
                        }
                    },
                    error: function () {
                        swal("系统错误", "", "error");
                    }
                });
            },
            initParam: function () {
                this.userParam = {
                    "userId": "",
                    "userName": "",
                    "userNumber": "",
                    "userPassword": "",
                    "userSex": "",
                    "userAge": "",
                    "userBirthday": "",
                    "userIntroduce": "",
                    "userImg": "",
                    "userCollege": "",
                    "userRO": "",
                    "userProTitle": "",
                    "roleId": "",
                    "kbrId": "",
                    "pageSize": 10,
                    "currentPage": 1
                };
            },
            initModal: function () {
                this.modalUser = {
                    "userId": "",
                    "userName": "",
                    "userNumber": "",
                    "userPassword": "",
                    "userSex": "",
                    "userAge": "",
                    "userBirthday": "",
                    "userIntroduce": "",
                    "userImg": "",
                    "userCollege": "",
                    "userRO": "",
                    "userProTitle": "",
                    "roleId": "",
                    "kbrId": ""
                };
            }
        },
        created: function () {
            this.page(this.userParam);
            this.listRole();
            this.listKBR();
        }
    });
</script>
</body>
</html>